#Feel free to use any python in here.

networkIP = "1.2.3.4"
servername = "server."
serverdescription = "Altara IRC services"
linkport = 1234
linkpass = "secure"
sid = "31D"
#TS6 Client settings
clientnick = "gatekeeper"
clienthostname = "gatekeeper."
clientgecos = "gatekeeper"
clientuser = "gatekeeper"
reportchan = "#services"
